body {

    font-family: Arial, sans-serif;

    background-color: #e4e7ed;

    margin: 20px;

    text-align: center; 

}

h1 {

    color: #2c3e50;

    text-align: center;

    margin-bottom: 20px;

}

h2 {

    color: #34495e;

    margin-top: 20px;

}
.navbar{
    height: 70px;

    background-color: #2c3e50;

    /* color: lemonchiffon; */

    display: flex;

    justify-content: space-evenly;

    align-items: center;
}
.navbar a{
    color: #e4e7ed;

    text-decoration: none;

    font-weight: bold;
}


.navbar a:hover{

    color: #3498db;

}

.navbar button{

    padding: 8px 15px;

    border: none;

    cursor: pointer;

    border-radius: 5px;

}

.border{
    border:2px solid transparent;
}
.border:hover{
    border: 2px solid #b2ddfb;
}
.form {

    background-color: white;

    padding: 25px;

    max-width: 500px;

    margin: 20px auto;

    border-radius: 8px;

}
input,
textarea,
select {

    width: 100%;

    padding: 10px;

    margin-top: 5px;

    margin-bottom: 15px;

    box-sizing: border-box;

}
button {

    padding: 10px 15px;

    border: none;

    border-radius: 5px;

    cursor: pointer;

}
p{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}
p a{
    text-decoration: none;
}
.event-card {

    background-color:#C7DBEF;

    padding: 20px;

    margin: 20px auto;

    max-width: 700px;

    border-radius: 10px;
    
}
.event-card h2 {

    margin-top: 0;

    color: #2c3e50;

}
.event-card p {

    margin: 8px 0;

}
.event-card button {

    margin-right: 10px;

    margin-top: 10px;
}
.event-card {

    box-shadow: 0 2px 8px rgba(0,0,0,0.1);

}
#message {

    padding: 10px;

    margin: 15px 0;

    border-radius: 5px;

    text-align: center;

    font-weight: bold;

}